@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
}

.encabezado {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Noto Sans', sans-serif;
  padding: 25px 80px;
  background: rgba(15, 25, 35, 0.75);
}

.logo {
  font-size: 1.4rem;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 700;
}

.texto-azul {
  color: #37a7ff;
}

.navegacion .menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navegacion .menu .li1 {
  text-decoration: none;
  color: white;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 10px;
}

.activo {
  border: 2px solid #37a7ff;
  color: #37a7ff;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 10px;
}

.seccion-principal {
  background-image: url("../assets/images/Fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-frases {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.frase {
  background: rgba(0, 0, 0, 0.5);
  padding: 12px 25px;
  font-size: 24px;
  letter-spacing: 1px;
  color: #fff;
  font-family: sans-serif;
}

.frase1 {
  background: rgba(0, 0, 0, 0.5);
  padding: 12px 10px;
  align-self: center;
  width: 70%;
  font-family: sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  color: #fff;
}

.contenedor-categorias {
  width: 100%;
  padding: 5% 10%;
  background-color: #5CCEFF;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4%;
}

.categoria-item {
  width: 100%;
}

.categoria-item img {
  width: 10%;
  margin-bottom: 12px;
}

.titulo-categoria {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.descripcion-categoria {
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.seccion-portafolio {
  width: 90%;
  margin: 20px auto;
  padding-top: 4rem;
}

.encabezado-portafolio {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  font-family: 'Noto Sans', sans-serif;
}

.titulo-portafolio {
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #999;
}

hr {
  width: 30%;
  padding: 0.3px;
  background-color: #777;
}

.filtros-portafolio {
  display: flex;
  gap: 1.2rem;
  padding-left: 37%;
}

.filtro {
  border: none;
  background: transparent;
  font-size: 0.85rem;
  letter-spacing: 1px;
  padding: 0.3rem 0.6rem;
  color: #666;
}

.filtro2 {
  background: transparent;
  font-size: 0.85rem;
  letter-spacing: 1px;
  padding: 0.3rem 0.6rem;
  border: 1px solid #79bdff;
  color: #79bdff;
}

.galeria-portafolio {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-self: center;
}

.item-portafolio {
  width: 100%;
  height: auto;
}

.item-portafolio img {
  width: 100%;
}

.seccion-video-descriptiva {
  width: 100%;
  padding: 6% 10%;
  background-color: #4c5a63;
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18%;
}


.bloque-texto-video {
  width: 45%;
  color: #e5e5e5;
}


.titulo-bloque-video {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 20px;
}


.parrafo-video {
  line-height: 1.4rem;
  font-size: 12px;
  margin-bottom: 18px;
  color: #d9d9d9;
}


.btn-visitar-video {
  margin-top: 20px;
  padding: 10px 22px;
  background: transparent;
  border: 1px solid #333;
  color: #333;
  font-size: 0.85rem;
  letter-spacing: 1px;
}

.contenedor-video-playa {
  width: 50%;
}

.lin2 {
  padding: 0.3px;
  width: 10%;
  background-color: #fff;
}

.video-playa {
  width: 100%;
  display: block;
}

.seccion-twitter {
  width: 100%;
  padding: 5% 10%;
  background-color: #53c8ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
}

.cont{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contenedor-twitter {
  width: 90%;
}


.titulo-twitter {
  font-size: 1.3rem;
  margin-bottom: 22px;
  font-weight: 100;
}


.texto-twitter {
  font-size: 22px;
  line-height: 1.5rem;
  margin-bottom: 10px;
}


.usuario-twitter {
  font-size: 22px;
  font-weight: 600;
}

.lin22 {
  padding: 0.2px;
  width: 40%;
  background-color: #fff;
}

.usuario-twitter span {
  font-weight: 300;
}


.cont img {
  width: 2%;
  height: 2%;
}